/* Start :: Variables */
$mainBlackColor: #131725;
$alcoachMainColor: #2CBAEB;
$alcoachMainLightColor: #6975A0;
$whiteColor: #FFF;
$blackColor: #000;
$versionColor: #6975A0;
$generalLabelColor: #6975A0;
$titleLightColor: #B1BBE0;
$backgroundGredientColor: linear-gradient(#333C5E , #1C2133)!important;
$backgroundGredientColorReverse: linear-gradient(#1C2133, #333C5E)!important;
$backgroundMainButton: linear-gradient(to right, #2268FB, #30DDE5);
$backgroundMainButtonToleft: linear-gradient(to left, #2268FB, #30DDE5);
$warningColor: #FEAE2D;
$dangerColor: #FB225C;
/* End :: Variables */
