<!-- Sidebar  -->
<nav id="sidebar">

  <div class="main-components active">
    <ul class="list-unstyled components">
      <li>
        <a href="#">
          <span class="link-icon"> <img src="assets/images/sidebar/logo-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">Alcoach world</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="link-icon"> <img src="assets/images/sidebar/heart-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">Your Healthy Answers</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="link-icon"> <img src="assets/images/sidebar/order-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">order</span>
        </a>
      </li>
      <li class="">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <span class="link-icon"> <img src="assets/images/sidebar/heart2-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">Favorite</span>
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <span class="link-icon"> <img src="assets/images/sidebar/gear-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">Settings</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="link-icon"> <img src="assets/images/sidebar/subscribtion-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">Subscription</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="link-icon"> <img src="assets/images/sidebar/logo-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">About Alcoach</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="link-icon"> <img src="assets/images/sidebar/quiz-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">Common Questions</span>
        </a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <span class="link-icon"> <img src="assets/images/sidebar/phone-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">Contact Us</span>
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#aboutprog" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <span class="link-icon"> <img src="assets/images/sidebar/qoute-icon.svg" alt=""> </span>
          <span class="link-title text-capitalize">About Programming</span>
        </a>
        <ul class="collapse list-unstyled" id="aboutprog">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="list-unstyled CTAs sidebar-footer">
      <li>
        <a href="#" class="download sidebar-logout text-uppercase">Log out</a>
      </li>
      <li>
        <a href="#" class="article panel-version">v1.2.6</a>
      </li>
    </ul>
  </div>

  <!-- Second sidebar component -->
  <div class="second-component" >
    <app-second-sidebar-component></app-second-sidebar-component>
  </div>


</nav>
