<!-- Sidebar  -->
<nav id="small-sidebar">

  <div class="plans-dropdown text-center">
    <button class="btn btn-light plans-dropdown-heading"> All Plans </button>
    <ul class="list-unstyled plans-list-dropdown">
      <li>
        <button class="btn btn-light all-plans-item" data-type="all-plans"> All Plans </button>
      </li>
      <li>
        <button class="btn btn-light today-plans-item" data-type="today-plans"> Today Plans </button>
      </li>
    </ul>
  </div>

  <div class="toggle-plans-sections">
    <div class="all-plans-section active">
      <!-- Start : plans -->
      <div class="main-box-of-all-plan">
        <h5 class="main-heading">
          <a routerLink="workout-plans" routerLinkActive="active-link" class="text-capitalize"> Workout Plan </a>
        </h5>
        <div class="about-the-plan">
          <div class="row">
            <div class="col-4">
              <div class="circle text-center">
                <div class="circle-progress-info">
                  <strong></strong>
                  <span>Finished</span>
                </div>
              </div>
            </div>
            <div class="col-8">
              <ul class="list-unstyled some-of-plan-info">
                <li>
                  <span class="general-label"> Week </span>
                  <span class="general-value-label"> 1 </span>
                </li>
                <li>
                  <span class="general-label"> Exercise Per Week </span>
                  <span class="general-value-label"> 10 </span>
                </li>
                <li>
                  <span class="general-label"> Rest Per Week </span>
                  <span class="general-value-label"> 4 </span>
                </li>
                <li>
                  <span class="general-label"> Finished Exercise  </span>
                  <span class="general-value-label"> 23 </span>
                </li>
              </ul>
              <div class="absolute-icon">
                <img src="assets/images/plans/workout-plan.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="main-box-of-all-plan">
        <h5 class="main-heading">
          <a href="#"> Supplements Plan </a>
        </h5>
        <div class="about-the-plan">
          <div class="row">
            <div class="col-4">
              <div class="circle text-center">
                <div class="circle-progress-info">
                  <strong></strong>
                  <span>Finished</span>
                </div>
              </div>
            </div>
            <div class="col-8">
              <ul class="list-unstyled some-of-plan-info">
                <li>
                  <span class="general-label"> Week </span>
                  <span class="general-value-label"> 1 </span>
                </li>
                <li>
                  <span class="general-label"> Exercise Per Week </span>
                  <span class="general-value-label"> 10 </span>
                </li>
                <li>
                  <span class="general-label"> Rest Per Week </span>
                  <span class="general-value-label"> 4 </span>
                </li>
                <li>
                  <span class="general-label"> Finished Exercise  </span>
                  <span class="general-value-label"> 23 </span>
                </li>
              </ul>
              <div class="absolute-icon">
                <img src="assets/images/plans/supplement-plan-icon.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="main-box-of-all-plan">
        <h5 class="main-heading">
          <a href="#"> Cardio Plan </a>
        </h5>
        <div class="about-the-plan">
          <div class="row">
            <div class="col-4">
              <div class="circle text-center">
                <div class="circle-progress-info">
                  <strong></strong>
                  <span>Finished</span>
                </div>
              </div>
            </div>
            <div class="col-8">
              <ul class="list-unstyled some-of-plan-info">
                <li>
                  <span class="general-label"> Week </span>
                  <span class="general-value-label"> 1 </span>
                </li>
                <li>
                  <span class="general-label"> Exercise Per Week </span>
                  <span class="general-value-label"> 10 </span>
                </li>
                <li>
                  <span class="general-label"> Rest Per Week </span>
                  <span class="general-value-label"> 4 </span>
                </li>
                <li>
                  <span class="general-label"> Finished Exercise  </span>
                  <span class="general-value-label"> 23 </span>
                </li>
              </ul>
              <div class="absolute-icon">
                <img src="assets/images/plans/blue-clock-icon.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="main-box-of-all-plan">
        <h5 class="main-heading">
          <a href="#"> Diet Plan </a>
        </h5>
        <div class="about-the-plan">
          <div class="row">
            <div class="col-4">
              <div class="circle text-center">
                <div class="circle-progress-info">
                  <strong></strong>
                  <span>Finished</span>
                </div>
              </div>
            </div>
            <div class="col-8">
              <ul class="list-unstyled some-of-plan-info">
                <li>
                  <span class="general-label"> Week </span>
                  <span class="general-value-label"> 1 </span>
                </li>
                <li>
                  <span class="general-label"> Exercise Per Week </span>
                  <span class="general-value-label"> 10 </span>
                </li>
                <li>
                  <span class="general-label"> Rest Per Week </span>
                  <span class="general-value-label"> 4 </span>
                </li>
                <li>
                  <span class="general-label"> Finished Exercise  </span>
                  <span class="general-value-label"> 23 </span>
                </li>
              </ul>
              <div class="absolute-icon">
                <img src="assets/images/plans/blue-diet-meal-icon.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End : plans -->
    </div>
    <div class="today-plans-section">
      <div class="single-today-plan-section">
        <div class="row">
          <div class="col-6">
            <div class="today-plan-info">
              <div class="main-icon">
                <img src="../../../../assets/images/plans/blue-diet-meal-icon.svg" alt="">
              </div>
              <div class="today-plan-title">
                <a routerLink="/todayPlans/supplement-plan" class="text-uppercase"> Diet plan </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="today-plan-img">
              <img src="../../../../assets/images/plans/health.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="single-today-plan-section">
        <div class="row">
          <div class="col-6">
            <div class="today-plan-info">
              <div class="main-icon">
                <img src="../../../../assets/images/plans/supplement-plan-icon.svg" alt="">
              </div>
              <div class="today-plan-title">
                <a routerLink="/todayPlans/diet-plan" class="text-uppercase"> Supplements plan </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="today-plan-img">
              <img src="../../../../assets/images/plans/Supplements-plan.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="single-today-plan-section">
        <div class="row">
          <div class="col-6">
            <div class="today-plan-info">
              <div class="main-icon">
                <img src="../../../../assets/images/plans/blue-clock-icon.svg" alt="">
              </div>
              <div class="today-plan-title">
                <a href="#" class="text-uppercase"> Cardio plan </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="today-plan-img">
              <img src="../../../../assets/images/plans/cardio-plan.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="single-today-plan-section">
        <div class="row">
          <div class="col-6">
            <div class="today-plan-info">
              <div class="main-icon">
                <img src="../../../../assets/images/plans/workout-plan.svg" alt="">
              </div>
              <div class="today-plan-title">
                <a routerLink="/todayPlans/workout-plan" class="text-uppercase"> Workout plan </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="today-plan-img">
              <img src="../../../../assets/images/plans/workout-plan-icon.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>
