<div class="days-tabs text-center">
  <ul class="list-unstyled">
    <li class="skip-action">
      <button class="btn btn-light danger-button"> Skip meal </button>
    </li>
    <li>
      <a href="#" class="day-num today-label"> MEAL 1 </a>
    </li>
    <li>
      <a href="#" class="day-num"> MEAL 2 </a>
    </li>
    <li>
      <a href="#" class="day-num"> MEAL 3 </a>
    </li>
    <li>
      <a href="#" class="day-num"> MEAL 4 </a>
    </li>
    <li>
      <a href="#" class="day-num"> MEAL 5 </a>
    </li>
    <li class="edit-meal-action">
      <button class="btn btn-light main-button"> <i class="fa fa-plus"></i> Add Meal </button>
    </li>
  </ul>
</div>
