<div class="supplements-plan">
 <!-- plan tabs component -->
  <app-plans-navigation></app-plans-navigation>

  <!-- Days tabs component -->
  <app-days-navigation></app-days-navigation>

  <div class="row justify-content-md-center">
    <div class="col-12 supplement-col">
      <div class="about-the-plan">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="row supplement-row">
              <div class="col-4">
                <div class="supplement-img">
                  <img src="../../../../../../assets/images/plans/Supplements-plan.svg" alt="">
                </div>
              </div>
              <div class="col-8 supplement-main-info-parent">
                <div class="supplement-main-info">
                  <h4 class="h4 text-uppercase supplement-title"> ALCOACH  WHEY PROTEIN </h4>
                  <div class="supplement-details">
                    <span class="general-label"> Time </span>
                    <span class="general-value-label"> After The First Meal </span>
                  </div>
                  <div class="supplement-details">
                    <span class="general-label"> Amount Of Dose </span>
                    <span class="general-value-label"> 2 Spoon </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="supplement-components">
              <h5 class="h5"> Components </h5>
              <ul class="list-unstyled supplement-components-values text-center">
                <li>
                  <span class="general-label"> Protein </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
                <li>
                  <span class="general-label"> Fat </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
                <li>
                  <span class="general-label"> Calories </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
                <li>
                  <span class="general-label"> Sodium </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="supplement-options">
              <h2 class="h2 text-center"> Done 1 </h2>
              <div class="options-buttons">
                <div class="done-button-warrper">
                  <button class="btn btn-light main-button"> Done </button>
                </div>
                <div class="other-options">
                  <button class="btn btn-light normal-button"> Cancel </button>
                  <button class="btn btn-light normal-button"> See on store </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 supplement-col">
      <div class="about-the-plan">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="row supplement-row">
              <div class="col-4">
                <div class="supplement-img">
                  <img src="../../../../../../assets/images/plans/Supplements-plan.svg" alt="">
                </div>
              </div>
              <div class="col-8 supplement-main-info-parent">
                <div class="supplement-main-info">
                  <h4 class="h4 text-uppercase supplement-title"> ALCOACH  WHEY PROTEIN </h4>
                  <div class="supplement-details">
                    <span class="general-label"> Time </span>
                    <span class="general-value-label"> After The First Meal </span>
                  </div>
                  <div class="supplement-details">
                    <span class="general-label"> Amount Of Dose </span>
                    <span class="general-value-label"> 2 Spoon </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="supplement-components">
              <h5 class="h5"> Components </h5>
              <ul class="list-unstyled supplement-components-values text-center">
                <li>
                  <span class="general-label"> Protein </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
                <li>
                  <span class="general-label"> Fat </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
                <li>
                  <span class="general-label"> Calories </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
                <li>
                  <span class="general-label"> Sodium </span>
                  <span class="general-value-label"> 387 g </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="supplement-options">
              <h2 class="h2 text-center"> Done 2 </h2>
              <div class="options-buttons">
                <div class="done-button-warrper">
                  <button class="btn btn-light main-button"> Done </button>
                </div>
                <div class="other-options">
                  <button class="btn btn-light normal-button"> Cancel </button>
                  <button class="btn btn-light normal-button"> See on store </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
