<div class="all-plans">
  <!-- plan tabs components -->
  <app-plans-navigation></app-plans-navigation>

  <div class="row justify-content-md-center">
    <div class="col-12 col-md-4 main-box-of-all-plan">
      <h5 class="main-heading">
        <a routerLink="workout-plans" routerLinkActive="active-link" class="text-capitalize"> Workout Plan </a>
      </h5>
      <div class="about-the-plan">
        <div class="row">
          <div class="col-5">
            <div class="circle text-center">
              <div class="circle-progress-info">
                <strong></strong>
                <span>Finished</span>
              </div>
            </div>
          </div>
          <div class="col-7">
            <ul class="list-unstyled some-of-plan-info">
              <li>
                <span class="general-label"> Week </span>
                <span class="general-value-label"> 1 </span>
              </li>
              <li>
                <span class="general-label"> Exercise Per Week </span>
                <span class="general-value-label"> 10 </span>
              </li>
              <li>
                <span class="general-label"> Rest Per Week </span>
                <span class="general-value-label"> 4 </span>
              </li>
              <li>
                <span class="general-label"> Finished Exercise  </span>
                <span class="general-value-label"> 23 </span>
              </li>
            </ul>
            <div class="absolute-icon">
              <img src="assets/images/plans/workout-plan.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 main-box-of-all-plan">
      <h5 class="main-heading">
        <a href="#"> Supplements Plan </a>
      </h5>
      <div class="about-the-plan">
        <div class="row">
          <div class="col-5">
            <div class="circle text-center">
              <div class="circle-progress-info">
                <strong></strong>
                <span>Finished</span>
              </div>
            </div>
          </div>
          <div class="col-7">
            <ul class="list-unstyled some-of-plan-info">
              <li>
                <span class="general-label"> Week </span>
                <span class="general-value-label"> 1 </span>
              </li>
              <li>
                <span class="general-label"> Exercise Per Week </span>
                <span class="general-value-label"> 10 </span>
              </li>
              <li>
                <span class="general-label"> Rest Per Week </span>
                <span class="general-value-label"> 4 </span>
              </li>
              <li>
                <span class="general-label"> Finished Exercise  </span>
                <span class="general-value-label"> 23 </span>
              </li>
            </ul>
            <div class="absolute-icon">
              <img src="assets/images/plans/supplement-plan-icon.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 main-box-of-all-plan">
      <h5 class="main-heading">
        <a href="#"> Cardio Plan </a>
      </h5>
      <div class="about-the-plan">
        <div class="row">
          <div class="col-5">
            <div class="circle text-center">
              <div class="circle-progress-info">
                <strong></strong>
                <span>Finished</span>
              </div>
            </div>
          </div>
          <div class="col-7">
            <ul class="list-unstyled some-of-plan-info">
              <li>
                <span class="general-label"> Week </span>
                <span class="general-value-label"> 1 </span>
              </li>
              <li>
                <span class="general-label"> Exercise Per Week </span>
                <span class="general-value-label"> 10 </span>
              </li>
              <li>
                <span class="general-label"> Rest Per Week </span>
                <span class="general-value-label"> 4 </span>
              </li>
              <li>
                <span class="general-label"> Finished Exercise  </span>
                <span class="general-value-label"> 23 </span>
              </li>
            </ul>
            <div class="absolute-icon">
              <img src="assets/images/plans/blue-clock-icon.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 main-box-of-all-plan">
      <h5 class="main-heading">
        <a href="#"> Diet Plan </a>
      </h5>
      <div class="about-the-plan">
        <div class="row">
          <div class="col-5">
            <div class="circle text-center">
              <div class="circle-progress-info">
                <strong></strong>
                <span>Finished</span>
              </div>
            </div>
          </div>
          <div class="col-7">
            <ul class="list-unstyled some-of-plan-info">
              <li>
                <span class="general-label"> Week </span>
                <span class="general-value-label"> 1 </span>
              </li>
              <li>
                <span class="general-label"> Exercise Per Week </span>
                <span class="general-value-label"> 10 </span>
              </li>
              <li>
                <span class="general-label"> Rest Per Week </span>
                <span class="general-value-label"> 4 </span>
              </li>
              <li>
                <span class="general-label"> Finished Exercise  </span>
                <span class="general-value-label"> 23 </span>
              </li>
            </ul>
            <div class="absolute-icon">
              <img src="assets/images/plans/blue-diet-meal-icon.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
