<div class="days-tabs text-center">
  <ul class="list-unstyled">
    <li class="finished-status">
      <a href="#" class="day-num"> Day 1 </a>
      <span class="finished-label"> Finished </span>
    </li>
    <li>
      <a href="#" class="day-num today-label"> Today </a>
    </li>
    <li>
      <a href="#" class="day-num"> Day 3 </a>
    </li>
    <li>
      <span class="day-num off-label"> Off </span>
    </li>
    <li>
      <a href="#" class="day-num"> Day 5 </a>
    </li>
    <li>
      <a href="#" class="day-num"> Day 6 </a>
    </li>
    <li>
      <a href="#" class="day-num"> Day 7 </a>
    </li>
    <li>
      <a href="#" class="custom-edit-button">
        Edit
      </a>
    </li>
  </ul>
</div>
