<div class="today-plans-workout">
  <!-- plan tabs components -->
  <app-plans-navigation></app-plans-navigation>

  <div class="row">
    <div class="col-12 col-md-8">
      <div class="main-video">
        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
          poster="assets/images/global/poster-video.svg" data-setup="{}">
          <source src="assets/videos/plans/video.mp4" type="video/mp4" />
          <!-- <source src="MY_VIDEO.webm" type="video/webm" /> -->
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
      <div class="video-info">
        <div class="row">
          <div class="col-12 col-md-8">
            <table class="table table-borderless text-center">
              <thead>
                <tr class="heading-of-table">
                  <th scope="col">Set</th>
                  <th scope="col">Rpt</th>
                  <th scope="col">Kg</th>
                  <th scope="col">Performance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><span class="rounded-label no-of-rows"> 1 </span></th>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary rounded-label" id="dropdownBasic1" ngbDropdownToggle>Good</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><span class="rounded-label no-of-rows"> 1 </span></th>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary rounded-label" id="dropdownBasic1" ngbDropdownToggle>Good</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><span class="rounded-label no-of-rows"> 1 </span></th>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary rounded-label" id="dropdownBasic1" ngbDropdownToggle>Good</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><span class="rounded-label no-of-rows"> 1 </span></th>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary rounded-label" id="dropdownBasic1" ngbDropdownToggle>Good</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><span class="rounded-label no-of-rows"> 1 </span></th>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <span class="rounded-label"> 3 </span>
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary rounded-label" id="dropdownBasic1" ngbDropdownToggle>Good</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-4">
            <div class="video-info-options">
              <div class="form-group">
                <button class="btn btn-light normal-button">
                  <i class="fa fa-plus"></i>
                  <span> Add Set </span>
                </button>
              </div>
              <div class="form-group">
                <button class="btn btn-light main-button">
                  <span> Finished Ex.1  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="library-of-exercise">
        <div class="exercise-video">
          <div class="row">
            <div class="col-4">
              <img src="assets/images/global/square-coach-img.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
                <span class="video-duration">03:00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="set-exercises">
          <h5 class="h5"> Super Set </h5>
          <div class="exercise-video">
            <div class="row">
              <div class="col-4">
                <img src="assets/images/global/square-coach-img.svg" alt="">
              </div>
              <div class="col-8">
                <div class="exercise-info">
                  <h5 class="h5"> Exercise 5 </h5>
                  <ul class="list-unstyled">
                    <li>
                      <span class="general-label"> Sts </span>
                      <span class="general-label-value-blue"> 10 </span>
                    </li>
                    <li>
                      <span class="general-label"> Rpt </span>
                      <span class="general-label-value-blue"> 3 </span>
                    </li>
                    <li>
                      <span class="general-label"> kg </span>
                      <span class="general-label-value-blue"> 10 </span>
                    </li>
                  </ul>
                  <span class="video-duration">03:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="exercise-video">
            <div class="row">
              <div class="col-4">
                <img src="assets/images/global/square-coach-img.svg" alt="">
              </div>
              <div class="col-8">
                <div class="exercise-info">
                  <h5 class="h5"> Exercise 5 </h5>
                  <ul class="list-unstyled">
                    <li>
                      <span class="general-label"> Sts </span>
                      <span class="general-label-value-blue"> 10 </span>
                    </li>
                    <li>
                      <span class="general-label"> Rpt </span>
                      <span class="general-label-value-blue"> 3 </span>
                    </li>
                    <li>
                      <span class="general-label"> kg </span>
                      <span class="general-label-value-blue"> 10 </span>
                    </li>
                  </ul>
                  <span class="video-duration">03:00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="exercise-video">
          <div class="row">
            <div class="col-4">
              <img src="assets/images/global/square-coach-img.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
                <span class="video-duration">03:00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="exercise-video">
          <div class="row">
            <div class="col-4">
              <img src="assets/images/global/square-coach-img.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
                <span class="video-duration">03:00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
