<div class="today-plans-workout">
  <!-- plan tabs components -->
  <app-plans-navigation></app-plans-navigation>

  <app-days-navigation></app-days-navigation>

  <div class="row">
    <div class="col-12 col-md-8">
      <div class="main-video">
        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
          poster="assets/images/global/poster-video.svg" data-setup="{}">
          <source src="assets/videos/plans/video.mp4" type="video/mp4" />
          <!-- <source src="MY_VIDEO.webm" type="video/webm" /> -->
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
      <div class="video-info">
        <h1 class="h1 video-title"> Upper Chest </h1>
        <div class="date-and-exercises">
          <span class="general-label"> 26/8/2020 </span>
          <span class="general-label-value-blue"> Exercise  1 Of 7 </span>
        </div>
        <ul class="list-unstyled sub-info">
          <li>
            <span class="general-label"> Sts </span>
            <span class="general-label-value-blue"> 10 </span>
          </li>
          <li>
            <span class="general-label"> Rpt </span>
            <span class="general-label-value-blue"> 3 </span>
          </li>
          <li>
            <span class="general-label"> kg </span>
            <span class="general-label-value-blue"> 10 </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="library-of-exercise">
        <div class="exercise-video">
          <div class="row">
            <div class="col-4 with-player-icon">
              <img src="assets/images/global/ex-libs-thumbnail.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h3 class="h3"> Upper Chest </h3>
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="exercise-video">
          <div class="row">
            <div class="col-4 with-player-icon">
              <img src="assets/images/global/ex-libs-thumbnail.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h3 class="h3"> Upper Chest </h3>
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="exercise-video">
          <div class="row">
            <div class="col-4 with-player-icon">
              <img src="assets/images/global/ex-libs-thumbnail.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h3 class="h3"> Upper Chest </h3>
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="exercise-video">
          <div class="row">
            <div class="col-4 with-player-icon">
              <img src="assets/images/global/ex-libs-thumbnail.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h3 class="h3"> Upper Chest </h3>
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="exercise-video">
          <div class="row">
            <div class="col-4 with-player-icon">
              <img src="assets/images/global/ex-libs-thumbnail.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h3 class="h3"> Upper Chest </h3>
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="exercise-video">
          <div class="row">
            <div class="col-4 with-player-icon">
              <img src="assets/images/global/ex-libs-thumbnail.svg" alt="">
            </div>
            <div class="col-8">
              <div class="exercise-info">
                <h3 class="h3"> Upper Chest </h3>
                <h5 class="h5"> Exercise 5 </h5>
                <ul class="list-unstyled">
                  <li>
                    <span class="general-label"> Sts </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                  <li>
                    <span class="general-label"> Rpt </span>
                    <span class="general-label-value-blue"> 3 </span>
                  </li>
                  <li>
                    <span class="general-label"> kg </span>
                    <span class="general-label-value-blue"> 10 </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
