<div class="diet-plan-section">

 <!-- plan tabs component -->
 <app-plans-navigation></app-plans-navigation>

 <!-- Days tabs component -->
 <app-meals-navigation></app-meals-navigation>

 <div class="row justify-content-md-center">
   <div class="col-12 col-md-9">
     <div class="about-the-plan">
        <div class="row">
            <div class="col-4">
              <div class="diet-meal-img">
                <img src="assets/images/plans/diet-img.svg" alt="">
              </div>
            </div>
            <div class="col-8">
              <div class="diet-meal-info">
                <h4 class="h4"> Stick Meet With Potatoes  </h4>
                <div class="main-meal-elements">
                  <div class="meal-item">
                    <span class="item-title-of-meal">
                      Meet
                      <button class="btn btn-light float-right"> <img src="assets/images/plans/refresh-icon.svg" alt=""> </button>
                    </span>
                    <span class="item-gram"> 350 g </span>
                  </div>
                  <div class="meal-item">
                    <span class="item-title-of-meal">
                      Potatoes
                      <button class="btn btn-light float-right"> <img src="assets/images/plans/refresh-icon.svg" alt=""> </button>
                    </span>
                    <span class="item-gram"> 150 g </span>
                  </div>
                  <div class="meal-item">
                    <span class="item-title-of-meal">
                      Mushroom
                      <button class="btn btn-light float-right"> <img src="assets/images/plans/refresh-icon.svg" alt=""> </button>
                    </span>
                    <span class="item-gram"> 50 g </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
     </div>
     <div class="diet-meal-options">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="meal-btns">
            <button class="btn btn-light main-button"> See In Restaurant  </button>
            <button class="btn btn-light normal-button"> See Recipe  </button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="meal-btns">
            <button class="btn btn-light normal-button"> Cancel </button>
            <button class="btn btn-light main-button"> Finished </button>
          </div>
        </div>
      </div>
     </div>
     <div class="diet-meal-components about-the-plan">
       <h4 class="h4"> Components </h4>
      <div class="row">
        <div class="col-12 col-md-6 component-with-border-right">
          <div class="meal-details">
            <h5 class="h5"> Meet </h5>
            <ul class="list-unstyled">
              <li>
                <span class="general-label"> Protein </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Fat </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Calories </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Sodium </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Carbs </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Sugar </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Fiber </span>
                <span class="general-value-label"> 387 g </span>
              </li>
            </ul>
          </div>
          <hr>
          <div class="meal-details">
            <h5 class="h5"> Machrom </h5>
            <ul class="list-unstyled">
              <li>
                <span class="general-label"> Protein </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Fat </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Calories </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Sodium </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Carbs </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Sugar </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Fiber </span>
                <span class="general-value-label"> 387 g </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="meal-details">
            <h5 class="h5"> Potatoes </h5>
            <ul class="list-unstyled">
              <li>
                <span class="general-label"> Protein </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Fat </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Calories </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Sodium </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Carbs </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Sugar </span>
                <span class="general-value-label"> 387 g </span>
              </li>
              <li>
                <span class="general-label"> Fiber </span>
                <span class="general-value-label"> 387 g </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
     </div>
   </div>
 </div>

</div>
