<div class="plans">
  <!-- plan tabs components -->
  <app-plans-navigation></app-plans-navigation>

  <div class="today-plans">
    <div class="row justify-content-md-center">
      <div class="col col-md-5">
        <div class="about-the-plan">
          <div class="row">
            <div class="col-6">
              <div class="plan-info">
                <div class="plan-icon">
                  <img src="../../../../../assets/images/plans/dummble-icon.svg" alt="">
                </div>
                <h5 class="h5 plan-title text-uppercase">
                  <a href="#"> </a>
                  <a  routerLink="workout-plan" routerLinkActive="active-link"> Workout plan</a>
                </h5>
                <p class="plan-brief"> Total Exercise  </p>
                <div class="plan-count">
                  <span> 10 </span>
                </div>
                <ul class="list-unstyled plan-tags">
                  <li>
                    <span class="tag-label"> Muscles </span>
                    <span class="tag-item"> Chest </span>
                    <span class="tag-item"> Chest </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="plan-img text-center">
                <img src="../../../../../assets/images/plans/workout-plan-icon.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="about-the-plan">
          <div class="row">
            <div class="col-6">
              <div class="plan-info">
                <div class="plan-icon">
                  <img src="../../../../../assets/images/plans/diet-icon.svg" alt="">
                </div>
                <h5 class="h5 plan-title text-uppercase">
                  <a  routerLink="supplement-plan" routerLinkActive="active-link"> diet plan </a>
                </h5>
                <p class="plan-brief"> Meals  Per Day  </p>
                <div class="plan-count">
                  <span> 3 </span>
                </div>
                <ul class="list-unstyled plan-tags">
                  <li>
                    <span class="tag-label"> Carbs </span>
                    <span class="tag-item"> 387 g </span>
                  </li>
                  <li>
                    <span class="tag-label"> Fat </span>
                    <span class="tag-item"> 387 g </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="plan-img text-center">
                <img src="../../../../../assets/images/plans/health.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-5">
        <div class="about-the-plan">
          <div class="row">
            <div class="col-6">
              <div class="plan-info">
                <div class="plan-icon">
                  <img src="../../../../../assets/images/plans/Supplements -icon.svg" alt="">
                </div>
                <h5 class="h5 plan-title text-uppercase">
                  <a routerLink="diet-plan" routerLinkActive="active-link"> Supplements plan </a>
                </h5>
                <p class="plan-brief"> Sip  Per Day  </p>
                <div class="plan-count">
                  <span> 3 </span>
                </div>
                <ul class="list-unstyled plan-tags">
                  <li>
                    <span class="tag-label"> Protein </span>
                    <span class="tag-item"> 87 g </span>
                  </li>
                  <li>
                    <span class="tag-label"> Fat </span>
                    <span class="tag-item"> 92 g </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="plan-img text-center">
                <img src="../../../../../assets/images/plans/Supplements-plan.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="about-the-plan">
          <div class="row">
            <div class="col-6">
              <div class="plan-info">
                <div class="plan-icon">
                  <img src="../../../../../assets/images/plans/clock-icon.svg" alt="">
                </div>
                <h5 class="h5 plan-title text-uppercase">
                  <a href="#"> Cardio plan </a>
                </h5>
                <p class="plan-brief"> Total Exercise   </p>
                <div class="plan-count">
                  <span> 10 </span>
                </div>
                <ul class="list-unstyled plan-tags">
                  <li>
                    <span class="tag-label"> Muscles </span>
                    <span class="tag-item"> Chest </span>
                    <span class="tag-item"> Belly </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="plan-img text-center">
                <img src="../../../../../assets/images/plans/cardio-plan.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
